name: Windows Nightly
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v5
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.1
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "9.0.x"

      - name: Download dependencies
        shell: pwsh
        run: |
          $url = "https://files.catbox.moe/k555t7.zip"
          $zip = "$env:RUNNER_TEMP/mizuki-deps.zip"
          $lib = "Mizuki/lib"
          New-Item -ItemType Directory -Path $lib -Force | Out-Null
          Invoke-WebRequest -Uri $url -OutFile $zip
          Expand-Archive -Path $zip -Destinationpath $lib -Force

      - name: Build Mizuki
        shell: pwsh
        run: |
          pushd Mizuki
          zig build --release=safe
          popd

      - name: Build Ameko
        shell: pwsh
        run: |
          pushd Ameko
          dotnet publish -c Release -p:SolutionDir=..\ -r win-x64 --self-contained true /p:PublishSingleFile=true /p:IncludeNativeLibrariesInSingleFile=true
          popd

      - name: Copy Dependencies
        shell: pwsh
        run: |
          cp "Mizuki/zig-out/bin/mizuki.dll" "Ameko/bin/Release/net9.0/win-x64/publish"
          cp -Force "Mizuki/lib/*" "Ameko/bin/Release/net9.0/win-x64/publish/"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ameko-nightly-win-x64
          path: Ameko/bin/Release/net9.0/win-x64/publish
